*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --color-primary: #020d18;
  --color-accent: #EDC043;
  --color-accent-hover: #AD934B
}

body {
  width: 100vw;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  background: var(--color-primary);
  color: #fff;
  overflow-x: hidden;
  user-select: none;
}

h2 {
  font-size: 3rem;
}

a {
  color: #fff;
  text-decoration: none;
  transition: 300ms;
}

a:hover {
  color: var(--color-accent);
}

.a-accent {
  color: var(--color-accent);
  transition: 300ms;
}

.a-accent:hover {
  color: #5A9B89;
}

ul {
  list-style: none;
}

.text-primary {
  color: var(--color-accent);
}

.text-accent {
  color: var(--color-accent);
}

.active {
  color: var(--color-accent);
  cursor: default;
}

.text-center {
  text-align: center;
}

.back {
  margin-top: 30px;
}

.btn {
  display: inline-block;
  padding: 0.5rem 1rem;
  border: 1px solid var(--color-accent);
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  background: transparent;
  transition: all 0.3s ease-in-out;
}

.btn:hover {
  background: var(--color-accent-hover);
  color: #000;
}

.btn:disabled {
  border-color: #ccc;
  cursor: not-allowed;
}

.btn:disabled:hover {
  background: transparent;
  color: #fff;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.main-header .container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-header {
  padding: 20px 0;
  background: rgba(0, 0, 0, 1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-header .nav-menu {
  flex: 1;
  height: 100%;
}

.main-header .nav-menu ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  margin: auto;
}

.main-header .nav-menu ul li {
  margin-left: 20px;
}

.main-header .nav-menu ul li a {
  font-size: 16px;
}

.main-header .nav-menu ul li a:hover {
  color: var(--color-accent);
}

.main-header .logo {
  color: #fff;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.menu-toggler-icon {
  color: #ffffff;
  font-size: 24px;
  cursor: pointer;
  transition: 300ms;
}


.menu-toggler-icon:hover {
  color: var(--color-accent);
}


main {
  min-height: calc(100vh - 215px);
}

.popular-movies {
  padding-top: 60px;
}

/* Grid */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 30px;
}

/* Card */
.card {
  background: #04376b;
  padding: 5px;
  color: white;
  text-align: center;
  transition: all 0.25s ease-in-out;
  cursor: pointer;
}

.card img {
  width: 100%;
  min-height: 395px;
  object-fit: cover;

}

.card-body {
  padding: 10px;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.card-title {
  font-size: 1.2rem;
  margin-top: 10px;
}

.card:hover {
  transform: scale(1.05);
  background: #0a4b8f;
}

.card-text {
  color: white;
  font-size: 1rem;
}

.movie-title {
  font-size: 2.75rem;
  text-align: start;
}

.movie-meta-heading {
  font-size: 1rem;
  margin-top: 10px;
}

.buy-rent-container {
  margin-top: 15px;
  display: flex;
  gap: 15px;
}

#logo-2,
#logo-3,
#logo-192,
#logo-68,
#logo-10,
#logo-140 {
  height: 50px;
  width: 50px;
  border-radius: 15px;
  margin: 0;
}

.infos-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 50px;
}

/* Footer */
.main-footer {
  background: black;
  padding: 20px 0;
  margin-top: 60px;
}

.main-footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-footer .container .logo {
  color: #fff;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
}

.main-footer .container .social-links {
  display: flex;
  font-size: 20px;
}

.main-footer .container .social-links a {
  margin-left: 10px;
  color: #fff;
}

.main-footer .container .social-links a:hover {
  color: var(--color-accent);
}

.main-footer .container .copyright {
  font-size: 0.8rem;
}

/* Section: Now Playing */

section.now-playing {
  padding-block: 60px;
  background: url(../images/showcase-bg.jpg) no-repeat center center/cover;
}

section h2 {
  margin: 20px 0;
  text-align: center;
  text-transform: uppercase;
}

/* Slider */
.swiper {
  width: 100%;
  height: 50%;
}

.swiper__title {
  margin-bottom: 50px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: var(--color-primary);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  min-height: 395px;
}

.swiper-rating {
  padding: 10px;
}

.swiper-wrapper {
  transition-timing-function: linear;
}

/* Movie Details */
.details-top {
  display: flex;
  justify-content: space-between;
  align-items: start;
  margin: 50px 0 60px;
}

.details-top img {
  width: 400px;
  height: 100%;
  margin-right: 60px;
  object-fit: cover;
}

.details-top p {
  margin: 20px 0;
}

.details-top .btn {
  margin-top: 20px;
}

/* .details-bottom {} */

.details-bottom li {
  margin: 15px 0;
  padding-bottom: 8px;
  border-bottom: 1px solid #fff;
  border-color: rgba(255, 255, 255, 0.1);
}

/* Search */
.search {
  flex: 1;
  padding: 0;
}

.search .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.search .container h2 {
  margin-bottom: 20px;
}

.search .container form {
  width: 100%;
  max-width: 600px;
}

.search-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: auto;
}


.search-flex {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 10px;
  width: 70%;

}

.search .container form input[type='text'] {
  width: 100%;
  height: 38px;
  padding: 10px 15px;
  border: 0;
  border-bottom: 1px solid white;
  background: transparent;
  color: #fff;
  outline: none;
  box-shadow: none;
  font-size: 1rem;
  margin: 0 auto;
}

.search .container form:hover input[type='text']::placeholder {
  color: var(--color-accent);
}

.search .container form input[type='text']::placeholder {
  color: #fff;
  transition: 300ms;
  text-align: start;
}

.search .container form input[type='text']:focus {
  outline: none;
}


.search .container #select-type {
  display: none;
  width: 100%;
  height: 38px;
  padding: 10px 10px;
  border: 1px solid #fff;
  border-right: none;
  border-left: none;
  border-radius: 0;
  background: transparent;
  color: #fff;
  outline: none;
  appearance: none;
  text-align: center;
}

select#select-type option {
  background-color: #020d18;
  color: #fff;
  text-align: center;
}

select#select-type option:hover {
  background-color: var(--color-accent);
  color: #fff;
  text-align: center;
}


.search .container form button {
  display: block;
  padding: 10px 20px;
  border: none;
  border-bottom: 1px solid white;
  border-radius: 0;
  height: 38px;
  cursor: pointer;
  background: transparent;
  color: var(--color-accent);
  font-size: 1rem;
}

.search .container form:hover button {
  color: white;
  font-size: 1rem;
}


.search-results-header {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 500;
  margin-block: 20px;
}

.search-radio {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.pagination {
  width: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: space-evenly;
}

.page-counter {
  margin-top: 10px;
}

/* Alert */
.alert {
  padding: 10px 20px;
  margin-bottom: 20px;
  border-radius: 5px;
}

.alert-success {
  background: green;
}

.alert-warning {
  background: #EDC043;
}

.alert-error {
  background: red;
}

.menu-toggler {
  border: none;
}

.menu-toggler:focus,
.menu-toggler:hover {
  background-color: transparent;
}



#offcanvas__nav-menu {
  margin-top: 90px;
  width: 100% !important;
  background-color: rgba(0, 0, 0, 0.9);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  align-items: center;
  font-size: 1.75rem;
}

#offcanvas__nav-menu nav {
  flex: 2;


}

#offcanvas__nav-menu ul {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
}


/*! --- Scroolbar --- */

::-webkit-scrollbar {
  width: 0.875rem;
}

::-webkit-scrollbar-thumb {
  background: var(--color-accent);
  border: none;
  border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-accent);
}

::-webkit-scrollbar-thumb:active {
  background: var(--color-accent);
}

::-webkit-scrollbar-track {
  background: black;
  border: none;
}

::-webkit-scrollbar-corner {
  background: transparent;
}